#canvas {
  background-color: rgb(100, 209, 136);
  border: 10px solid rgb(153, 50, 25);
  height: 600px;
  width: 600px;
  position: relative;
}

#gamepiece {
  height: 50px;
  width: 50px;
  outline: 1px solid black;
  background-color: red;
  position: absolute;
  left: 0;
}
